<!DOCTYPE html>
<html>
    <head>
        <title>ManteninAja | Temukan Wedding Organizer/Planner Favoritmu</title>
        <meta name="description" content="ManteninAja | Temukan Wedding Planner/Organizer Favoritmu | Portal Website WO/WP Pertama di Indonesia">
        <meta name="keywords" content="wedding, wedding site, manteninaja,ManteninAja,MANTENINAJA,ManteninAja.com,manteninaja.com,MANTENINAJA.COM, mantenin aja,Mantenin Aja" />
        <meta charset="utf-8">
        <meta name="author" content="Andre Hardika & Ahmad Nur Fawaid">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/magnific-popup.css">        

        
    </head>
    <body class="appear-animate">
        </div>
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="index-mantenin-temporary.html" class="logo">
                            <img src="images/manten-white2.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist">
                            
                              <!-- Button -->
                            <li>
                                <a href="wedding-landing-page.html"><span class="btn btn-mod btn-pink btn-circle">Daftarkan WO/WP Anda</span></a>
                            </li>
                            <!-- End Button -->
                            <li>
                                <a href="coming-soon-page.html" class="mn-has-sub">Kembali</a>
                            </li>
                            <!-- End Item With Sub -->
                        </ul>
                    </div>
                    <!-- End Main Menu -->

                </div>
            </nav>
            <!-- End Navigation panel -->
            
            
            <!-- Head Section -->
            <section class="page-section bg-dark-alfa-30" data-background="images/background/8.jpg">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="align-center">
                            <h1 class="mb-20 mb-xs-0 font-cinzel-head">ManteninAja</h1>
                            <div class="hs-line-4 font-muli">
                                Temukan Wedding Organizer/Planner Favoritmu
                                <br>
                                <strong>(Halaman ini hanya untuk pratinjau)</strong>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            <section class="page-section bg-manteninaja" style="padding-bottom: 10px;padding-top: 65px;">
                
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-12">
                            
                            <!-- Shop options -->
                            <div class="clearfix mb-40">
                                
                                <div class="left section-text monserat-bold mt-10">
                                    Cari Wedding Organizer/Planner
                                </div>
                                
                                <div class="right">
                                    <form method="post" action="#" class="form">
                                     
                                     <!-- Name -->
                                    <!-- <input type="text" name="name" id="name" class="input-md round" placeholder="Ketikkan WO/WP . . ." maxlength="100"> -->
                                    
                                        <select class="input-md round">
                                            <option>WO & WP</option>
                                            <option>Wedding Planner (WP)</option>
                                            <option>Wedding Organizer (WO)</option>
                                        </select>
                                      
                                        <select class="input-md round">
                                            <option>Semua Kota</option>
                                        </select>

                                        <select class="input-md round">
                                            <option>Semua Harga</option>
                                        </select>

                                         <a href="#" class="btn btn-mod btn-pink btn-medium btn-round btn-with-border">Cari</a>
                                    
                                    </form>
                                </div>
                                
                            </div>
                            <!-- End Shop options -->
                            </div>
                            </div>
                            </div>
            </section>
            <!-- Section -->
            <section class="page-section bg-light" style="padding-top: 10px">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-12">
                                <br>
                                <h5 class="font-muli heading align-center">Menampilkan hasil untuk <strong>WO & WP</strong> di <strong>Semua Kota</strong> dengan <strong>Semua Jangkauan Harga</strong>.</h5>
                                
                                 <div class="right">
                                    <form method="post" action="#" class="form">
                                        <select class="input-md round">
                                            <option>Rating Tertinggi</option>
                                            <option>Rating Terendah</option>
                                            <option>Alphabetical (A-Z)</option>
                                            <option>Alphabetical (Z-A)</option>
                                        </select>
                                    </form> 
                                </div>
                                <br>
                                <br>
                                <br>
                            <div class="row masonry">

                                 <!--WO/WP Card -->
                                <div class="col-sm-6 col-md-3 col-lg-3 mb-60 mb-xs-40 wedding-card">
                                    
                                    <div class="post-prev-img">
                                        <div class="align-center">
                                            <a href="details-wedding-temporary.html" target="_blank"><img src="images/background/10.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    
                                    <div class="post-prev-title align-left">
                                        <img src="images/background/4.jpg" alt="" width="50" class="img-circle left">
                                        <a href="details-wedding-temporary.html" class="font-lora-card" target="_blank" style="margin-left: 10px"><em>Nama WO/WP</em></a>
                                        <p class="font-muli-card" style="margin-left: 60px;"><strong>Wedding Organizer - Kota</strong></p>
                                        <p class="font-muli-card" style="margin-left: 60px; margin-top: -16px">
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        (33 user)
                                        </p>
                                    </div>
                                    
                                    <div class="post-prev-more align-center">
                                        <a href="#" class="btn btn-mod btn-pink btn-round"><i class="fa fa-bookmark"></i> Simpan</a>
                                    </div>
                                    
                                </div>
                                <!-- End WO/WP Card -->             

                                 <!--WO/WP Card -->
                                <div class="col-sm-6 col-md-3 col-lg-3 mb-60 mb-xs-40 wedding-card">
                                    
                                    <div class="post-prev-img">
                                        
                                        <a href="details-wedding-temporary.html" target="_blank"><img src="images/background/11.jpg" alt="" /></a>
                                        
                                    </div>
                                    
                                    <div class="post-prev-title align-left">
                                        <img src="images/background/12.jpg" alt="" width="50" class="img-circle left">
                                        <a href="details-wedding-temporary.html" target="_blank" class="font-lora-card" style="margin-left: 10px"><em>Nama WO/WP</em></a>
                                        <p class="font-muli-card" style="margin-left: 60px;"><strong>Wedding Planner - Kota</strong></p>
                                        <p class="font-muli-card" style="margin-left: 60px; margin-top: -16px">
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        <i class="fa fa-star" style="color: yellow"></i>
                                        (33 user)
                                        </p>
                                    </div>
                                    
                                    <div class="post-prev-more align-center">
                                        <a href="#" class="btn btn-mod btn-pink btn-round"><i class="fa fa-bookmark"></i> Simpan</a>
                                    </div>
                                    
                                </div>
                                <!-- End WO/WP Card -->             
                            </div>
                        </div>
                        <!-- End Content -->
                        
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0"/>
            <!-- End Divider -->
            
            
            <!-- Foter -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">
                    
                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="images/mantenin3-footer.png" width="156" height="72" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-muli">
                            <a href="#" target="_blank">&copy; ManteninAja 2016</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Webiste Portal & Marketplace Wedding Organizer/Planner di Indonesia.
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/gmap3.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/contact-form.js"></script>
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>        
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        
    </body>
</html>
